extends layout
block content
 #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
 p
 | foodie was created to help people know which food tastes good in a particular restaurant or a cafe.
 | <br /><br />
 | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lorem ac nisi dignissim accumsan.
